{% extends 'base_clientSide.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    
        <div class="image" data-speed="0.4">
            <img src="assets/images/dark/banner-bg.jpg" alt="" class="jarallax-img">
        </div>
    

    <div class="info">
        <div>
            <div class="container">
                
                
                
                    
    <div class="youplay-login">
        <div class="youplay-form text-center">
            <h1>Login</h1>

            <div class="btn-group social-list dib">
                <a class="btn btn-default" title="Share on Facebook" href="#"><i class="fab fa-facebook"></i></a>
                <a class="btn btn-default" href="#" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-default" href="#" title="Share on Google Plus"><i class="fab fa-google-plus"></i></a>
            </div>

            <form method="post">
            
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="youplay-input">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  required autofocus>
                </div>
                <div class="youplay-input">
                    <input type="password" name="password" id="inputPassword"  required>
                </div>
                <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

                <button class="btn btn-default db">Login</button>
            </form>
        </div>
    </div>

                
                
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->
{% endblock %}
